.gpt3__team-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.gpt3__team-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}

.gpt3__team-heading p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.team__members {
    width:100%;
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem
}

@media screen and (min-width: 1050px) {
    .team__members {
        margin:auto;
        width:50%;
        display:grid;
        grid-template-columns: auto auto;
        grid-gap: 2rem
    }
}

@media screen and (max-width: 650px) {
    .gpt3__team-heading h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__team-heading p {
        font-size: 16px;
        line-height: 24px;
    }

}

@media screen and (max-width: 490px) {
    .gpt3__team-heading h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__team-heading p {
        font-size: 14px;
        line-height: 24px;
    }

}